/* container element for the exercise header */
.header{
    display: flex;
}
/* formatting each of the flex items in the exercise header */
.title{
    flex: 1.5;
}
.title h1{
    font-size: 3em;
}
.authors{
    flex: 1.5;
    text-align: left;
    padding: 3em;
    font-family: var(--jp-code-font-family);
}
.logo {
    flex: 2.5;
    text-align: right;
    font-size: var(--jp-ui-font-size0);
}

/* exercise formatting */
.tasks .points{
    padding: 1em;
    text-align: right;
}

.tasks ol{
    list-style-type: lower-alpha;
    line-height: 150%;
}

.tasks li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tasks .alert-block{
    float: right;
    width: 20em;
    color: var(--jp-content-font-color0);
    margin-left: 5%;
}
